.container {
  background-color: #d3d3d3; }
  .container .row:nth-child(even) {
    border: 1px red;
    border-style: dashed none; }
  .container div.info {
    padding-left: 5px; }

img {
  padding: 5px !important; }

h1 {
  margin: 15px 0 0 0; }
