.container{
	background-color: #d3d3d3;
	.row:nth-child(even){
		border: 1px red;
		border-style: dashed none;
	}
	div.info{
		padding-left: 5px;
	}
}
img{
	padding: 5px !important;
}

h1{
	margin: 15px 0 0 0;
}
@media only screen and (max-width: 1200px) {
    #ghosts{
    	margin-top: 5px;
    }
}
@media only screen and (max-width: 991px) {
    #ghosts{
    	margin-top: 10px;
    }
}
@media only screen and (max-width: 767px) {
    #ghosts{
    	width: calc(100%/2);
    	height: calc(100%/2);
    }
    .row1,.row2,.row3{
    	text-align: center;
		.info{
			text-align: inherit;
		}
    }
}