.container{
	#secret{
		&.green{
			background-color: green;
		}
		&.red{
			background-color: red;
		}
		&.pink{
			background-color: pink;
		}
		&.green,&.red,&.pink{
			color: white !important;
		}
	}
	.row{
		background-color: #d3d3d3;
	}
	.row:nth-child(even){
		border: 1px red;
		border-style: dashed none;
	}

	div.info{
		padding-left: 5px;
	}
	#secret.container_header{
		color: #d3d3d3;
		padding: 5px;
		margin-top: 20px;
	}
	#clear.container_header{
		border-radius: 5px;
		margin-bottom: 20px;
	}
	.container_header{
		background-color: white;
		border: 1px solid #d3d3d3;
		margin-left: -15px;
		padding: 0;
		text-align: center;
		width: calc(100% + 30px);
	}
	#clear:hover{
		box-shadow: 1px 1px 1px #d3d3d3;
	}

}
img{
	padding: 5px !important;
	margin-left: 15px;
}

h1{
	margin: 15px 0 0 0;
}



@media only screen and (max-width: 1200px) {
    #ghosts{
    	margin-top: 5px;
    }
}
@media only screen and (max-width: 991px) {
    #ghosts{
    	margin-top: 10px;
    }
}
@media only screen and (max-width: 767px) {
    #ghosts{
    	width: calc(100%/2);
    	height: calc(100%/2);
    }

	$class-slug: ".row";
    @for $i from 1 through 3{
    	#{$class-slug}#{$i} {
    		text-align: center;
			.info{
				text-align: inherit;
			}
    	}
    }

    h1, p{
    	margin-left: 15px;
    }
    
}